# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\202103\yao\GWZ-NetDisk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
